img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.75;
}

body {
    background: rgb(2, 0, 36);}



table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


th, td {
    color: greenyellow;
    font-size: 34px;
    font-weight: 400;
    padding: 5px 60px;
    border-bottom: 1px solid #cecfd5;

    font-family: Courier;
    text-align: left;

}


li {
    font-family: Courier New;
    list-style-type: square;
    font-size: 36px;
    color: yellow;
    align-content:  center;
    font-weight: bold;
}

.Date {
    width: 30%;
}

.WeightSub {
    width: 25%;
}

.LBSLost {
    width: 20%;
}


caption {
    font-size: 44px;
    font-weight: bold;
    color: yellow;
    font-family: Courier;
}


p {
    font-size: 64px;
    font-family: Courier;
    color: yellow;
    text-align: center;
    font-weight: bold;
}